Repository fernandopasik/lit-redux-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update dependencies
  package-lock.json
  package.json
Due: prettier --check

test: rename files
  .eslintrc.json
  rollup.config.js
  src/lib/actions.test.ts
  src/lib/reducer.test.ts
  src/lib/route.test.ts
  src/lib/selectors.test.ts
  src/lib/service.test.ts
  src/lit-redux-router.test.ts
  tsconfig.build.json
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

ci: remove lint report
  .github/workflows/main.yml
  .github/workflows/reports.yml
Due: prettier --check

style: fix empty object
  .github/workflows/main.yml
Due: prettier --check

style: join imports
  src/lib/reducer.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: sort properties
  src/lib/route.test.ts
  src/lib/route.ts
  src/lib/selectors.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: sort properties
  src/lib/actions.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: join imports
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: sort props
  src/lib/selectors.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: use param in regex
  src/lib/service.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: unify imports
  demo/app.ts
  demo/contact.ts
  demo/docs.ts
  demo/loading.ts
  demo/product.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: positive condition
  src/lib/service.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule in line
  src/lit-redux-router.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule in files
  src/lib/actions.ts
  src/lib/reducer.test.ts
  src/lib/selectors.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: sort properties
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in lines
  src/lib/route.test.ts
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in files
  src/lib/reducer.test.ts
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in lines
  demo/app.ts
  demo/store.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

styles: sort properties
  src/lib/reducer.test.ts
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: add flag to regex
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: use spy
  src/lib/service.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: refactor negated condition
  src/lib/selectors.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: if expression
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: update to eslint v9
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove eslint disables
  demo/product.ts
  demo/store.ts
  rollup.config.js
  src/lib/route.test.ts
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in files
  demo/app.ts
  demo/contact.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in lines
  src/lib/selectors.ts
  src/lib/service.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules in lines
  src/lib/route.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: demo component field
  demo/contact.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: ignore rule in files
  src/lib/route.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update dev dependencies
  package-lock.json
  package.json
Due: prettier --check

style: ignore rules in files
  src/lib/route.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: refactor config
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: set overriden methods
  demo/app.ts
  demo/contact.ts
  demo/docs.ts
  demo/loading.ts
  demo/product.ts
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

fix: ts error
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: use ts strictest config
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --check

refactor: use ts extensions
  demo/app.ts
  demo/contact.ts
  rollup.config.js
  src/lib/actions.test.ts
  src/lib/actions.ts
  src/lib/reducer.test.ts
  src/lib/reducer.ts
  src/lib/route.test.ts
  src/lib/route.ts
  src/lib/selectors.test.ts
  src/lib/selectors.ts
  src/lib/service.test.ts
  src/lib/service.ts
  src/lit-redux-router.test.ts
  src/lit-redux-router.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint: (any of: src/**/*.ts) or (any of: *.{js,ts})
  jest --bail --findRelatedTests: any of: src/**/*.ts
  prettier --check: any of: *
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts}
