Repository fernandopasik/lit-redux-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc:

{
  "src/**/*.ts": [
    "eslint",
    "jest --bail --findRelatedTests"
  ]
}

.lintstagedrc.json:

{
  "*": ["prettier --check", "eslint"],
  "*.{js,ts}": ["jest --bail --findRelatedTests --passWithNoTests"]
}

refactor: template strings
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: update config
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove disables
  demo/store.ts
  src/lib/actions.ts
  src/lib/reducer.test.ts
  src/lib/route.test.ts
  src/lib/route.ts
  src/lib/selectors.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update tsconfig
  tsconfig.json
Due: eslint, prettier --check

build: update dev dependencies
  package-lock.json
  package.json
Due: eslint, prettier --check

style: ignore rule in test file
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests
