Repository fernandopasik/lit-redux-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc:

{
  "src/**/*.ts": [
    "eslint",
    "jest --bail --findRelatedTests"
  ]
}

.lintstagedrc.json:

{
  "*": ["prettier --check", "eslint"],
  "*.{js,ts}": ["jest --bail --findRelatedTests --passWithNoTests"]
}

fix: don't spyOn pwaHelpers.installRouter
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: router does not escape parameteers
  src/lib/service.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: do not mock `decodeURIComponent`
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: URL double-decode
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

fix: don't decode `window.location`
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

Remove `decodeURIComponent` call in `installRouter` (#560)
  src/lib/route.test.ts
  src/lib/route.ts
  src/lib/service.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update dev dependencies
  package-lock.json
  package.json
Due: eslint, prettier --check

style: disable rule in test file
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: update config
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: refactor mocks and types
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update dependencies
  package-lock.json
  package.json
Due: eslint, prettier --check

ci: remove workflow
  .github/workflows/dependabot.yml
Due: eslint, prettier --check

refactor: types
  src/lib/actions.ts
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

ci: update dependabot cadence
  .github/dependabot.yml
Due: eslint, prettier --check

build: ignore ts cache
  .gitignore
Due: eslint, prettier --check

build: update ts targets
  tsconfig.json
Due: eslint, prettier --check

ci: deprecate dependabot group
  .github/dependabot.yml
Due: eslint, prettier --check

ci: update permissions
  .github/workflows/main.yml
Due: eslint, prettier --check

style: format files
  .github/dependabot.yml
  .github/workflows/main.yml
Due: eslint, prettier --check

refactor: condition types
  src/lib/selectors.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: update config definition
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: refactor yml config
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: refactor configs for tests
  eslint.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: replace plugin
  eslint.config.js
  package-lock.json
  package.json
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove disables
  src/lib/route.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: fix named imports
  src/lib/route.test.ts
  src/lit-redux-router.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove disabled rules
  src/lib/reducer.test.ts
  src/lib/route.test.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update ts configs
  tsconfig.build.json
  tsconfig.json
Due: eslint, prettier --check

build: remove tool
  package-lock.json
  package.json
Due: eslint, prettier --check

ci: dependabot security issues only
  .github/dependabot.yml
Due: eslint, prettier --check

ci: add missing dependabot group
  .github/dependabot.yml
Due: eslint, prettier --check
