Repository fernandopasik/lit-redux-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove already default option
  .prettierrc.json
Due: prettier --check

style: disable rule
  .eslintrc.json
Due: prettier --check

refactor: prefer optional chaining
  src/lib/service.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: increase a bit size limit
  package.json
Due: prettier --check

build: add ts-lit-plugin
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --check

build: remove already strict typescript options
  tsconfig.json
Due: prettier --check

build: remove pinst package
  package-lock.json
  package.json
Due: prettier --check

build: update dependencies
  package-lock.json
  package.json
Due: prettier --check

build: fix lit version dependency
  package-lock.json
  package.json
Due: prettier --check

build: remove deprecated option
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rules
  src/lib/reducer.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update dev dependencies
  package-lock.json
  package.json
Due: prettier --check

refactor: extend from redux action
  src/lib/actions.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

ci: update upload and download artifact actions
  .github/workflows/main.yml
Due: prettier --check

ci: update upload actions
  .github/workflows/main.yml
Due: prettier --check

style: add line width to editorconfig
  .editorconfig
Due: prettier --check

style: remove line width from prettier
  .prettierrc.json
Due: prettier --check

build: override dev dependency with security issue
  package-lock.json
  package.json
Due: prettier --check

style: update prettier config
  .prettierrc.json
Due: prettier --check

test: add errors to promise rejections
  src/lib/__tests__/route.spec.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update hooks to husky 9
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --check

0.22.0
  package-lock.json
  package.json
Due: prettier --check

build: replace size control
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --check

build: remove override
  package.json
Due: prettier --check

style: remove unnecessary config
  .prettierrc.json
Due: prettier --check

style: new lines before expect
  src/__tests__/lit-redux-router.spec.ts
  src/lib/__tests__/actions.spec.ts
  src/lib/__tests__/reducer.spec.ts
  src/lib/__tests__/route.spec.ts
  src/lib/__tests__/selectors.spec.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: ignore rule in line
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: import methods from jest globals
  package-lock.json
  package.json
  src/__tests__/lit-redux-router.spec.ts
  src/lib/__tests__/actions.spec.ts
  src/lib/__tests__/reducer.spec.ts
  src/lib/__tests__/route.spec.ts
  src/lib/__tests__/selectors.spec.ts
  src/lib/__tests__/service.spec.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

test: fix types
  src/lib/__tests__/route.spec.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: ignore rule in line for now
  demo/store.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule in config
  .eslintrc.json
Due: prettier --check

build: skip lib check in tsconfig
  tsconfig.json
Due: prettier --check

build: replace deprecated plugins
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint: (any of: src/**/*.ts) or (any of: *.{js,ts})
  jest --bail --findRelatedTests: any of: src/**/*.ts
  prettier --check: any of: *
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts}
