Repository fernandopasik/lit-redux-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --check

chore: update dev tools
  package-lock.json
  package.json
Due: prettier --check

build: fix rollup plugin config
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

chore: update typescript
  package-lock.json
  package.json
Due: prettier --check

chore: update jest
  package-lock.json
  package.json
Due: prettier --check

test: add jest jsdom env
  package-lock.json
  package.json
Due: prettier --check

test: update module mapper in jest config
  jest.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: update rollup config
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

ci: reuse org action
  .github/workflows/main.yml
Due: prettier --check

ci: delete deprecated action
  .github/actions/setup/action.yml
Due: prettier --check

build: update rollup plugin
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule in line
  demo/product.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: disable rule
  .eslintrc.json
Due: prettier --check

refactor: render nothing instead of empty string
  src/lib/__tests__/route.spec.ts
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: add missing type
  package-lock.json
  package.json
Due: prettier --check

0.21.0
  package-lock.json
  package.json
Due: prettier --check

ci: fix reports permissions
  .github/workflows/reports.yml
Due: prettier --check

ci: rename tasks
  .github/workflows/main.yml
Due: prettier --check

style: disable rule in config
  .eslintrc.json
Due: prettier --check

refactor: remove ReadonlyDeep use
  demo/contact.ts
Due: eslint, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: remove ReadonlyDeep use
  src/lib/reducer.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: remove ReadonlyDeep use
  src/lib/selectors.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: remove ReadonlyDeep use
  src/lib/route.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

build: remove type-fest
  package-lock.json
  package.json
Due: prettier --check

refactor: remove Readonly use
  src/lib/route.ts
  src/lit-redux-router.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: remove Readonly use
  demo/app.ts
  src/lib/service.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

refactor: remove readonly use
  src/lib/__tests__/route.spec.ts
  src/lib/actions.ts
Due: eslint, jest --bail --findRelatedTests, prettier --check, jest --bail --findRelatedTests --passWithNoTests

style: remove already default prettier option
  .prettierrc.json
Due: prettier --check

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --check

style: remove files from editorconfig
  .editorconfig
Due: prettier --check

build: ignore more node files
  .gitignore
Due: prettier --check

build: ignore local vscode configs
  .gitignore
Due: prettier --check

build: ignore coverage
  .gitignore
Due: prettier --check

style: add plugins
  .prettierrc.json
Due: prettier --check

ci: update dependabot config
  .github/dependabot.yml
Due: prettier --check

ci: set dependabot workflow
  .github/workflows/dependabot.yml
Due: prettier --check

build: update dev dependencies
  package-lock.json
  package.json
Due: prettier --check

style: run prettier on file
  demo/index.html
Due: prettier --check

Path conditions:
  eslint: (any of: src/**/*.ts) or (any of: *.{js,ts})
  jest --bail --findRelatedTests: any of: src/**/*.ts
  prettier --check: any of: *
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts}
